/* main.css */
@import url(vars.css);

* {
  font-family:'playpen_sansregular', Arial, Helvetica, sans-serif;
}


body {
  background-color: var(--background-color, darkblue);
  color: var(--text-color, #add8e6);
}


header {
  background-color: var(--darkgreen-color, darkgreen);
}

#about_me {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background-color: var(--darkgray-color);
}

#work_display {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: auto;
  background-color: var(--lightgray-color);
}

span {
  animation-name: colorChange;
  animation-duration: 10s;
}


@keyframes colorChange {
  from {color: blue;}
  to {color: yellow;}
}

#resume {
  width: 500px;
  height: 700px;
}

section {
  margin: 1rem;
  border-radius: 2rem;
}

header {
  margin: 2rem;
  border-radius: .5rem;
}

.main_menu {
  display: flex;
  list-style-type: none;
  margin: 20px;
  width: 900px;
}

.main_menu li {
  display: block;
  width: 100px;
  float: left;
  margin-left: .5rem;
  border: 1px solid #000;
}

.main_menu a {
  display: block;
  padding: 3px;
  text-decoration: none;
  background-color: white;
  color: #009;
}

.main_menu a:hover {
  background-color: var(--lightgreen-color, lightgreen);
  color: white;
}

h1 {
  text-align: center;
}

h3:hover {
  transform: scale(1.2);
  color: lightblue;
}

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: auto;
}
#contact_info{
  grid-column-start: 2;
  grid-column-end: 4;
  background-color: var(--darkgray-color, darkgray);
  padding: 2rem;
}

#contact_info > ul {
  font-size: 20px;
}

input.no-js:user-invalid {
  border: 2px dashed red;
  background-color: rgb(255, 171, 171);
}

input.no-js:user-invalid + span::before {
  content: "✖";
  color: red;
}

input.invalid {
  border-color: red;
  background-color: rgb(255, 171, 171);
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: red;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}

textarea:user-invalid {
  border: 2px dashed red;
}

.switch {
  position: fixed;
  top: 10px;
  left: 10px;
  display: inline-block;
  height: 34px;
}

.switch input {
  display: none;
}


.slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: darkslategray;
  border-radius: 34px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: white
}

input:checked + .slider {
  background-color: var(--yellow-color);
}

fieldset {
  width: 20rem;
}

@media (max-width: 700px) {
  nav {
    margin: 0;
  }
  nav ul {
    margin: 0;
    padding: 0;
  }
  #about_me {
    display: block;
  }
  ul.main_menu {
    margin: 0;
    margin-left: 5rem;
    display:block;
  }
  ul.main_menu li {
    width: 9.5%;
  }
  #work_display {
    display: block;
  }
  #contact {
    display: block;
  }
  #resume {
    width: 75%;
    height: 75%;
  }
}